body {
    background-color: #67BFFF;
}
.LandingBox {
    width: 650px;
    height: 750px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #FF7A00;
    border-radius: 25px;
}
.Name {
    width: 400px;
    height: 200px;

    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 60px;
    line-height: 62px;
    text-align: center;

    color: #FFFFFF;
}
.LoginButton{
    position: absolute;
    width: 475px;
    height: 90px;

    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #1400FF;
    border-radius: 25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #F7F7F7;
}
.LoginButton:hover{
    background: #1100cc;
    cursor: pointer;
}
.RegisterButton{
    position: absolute;
    width: 475px;
    height: 90px;

    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #1400FF;
    border-radius: 25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #F7F7F7;
}
.RegisterButton:hover{
    background: #1100cc;
    cursor: pointer;
}