<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./styles.css"/>
    <link rel="stylesheet" type="text/css" href="./form.css"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=UnifrakturMaguntia|PT+Serif"/>
    <title>MuggleMuggle Auction House</title>
</head>
<body>
    <div id="app">
        <a href="/">
            <div class="web-header">
                <div class="upper"></div>
                <h2>MuggleMuggle Auction House</h2>
                <div class="lower"></div>
            </div>
        </a>
    
        <div class="navbar">
            <div>
                <a href="/">All</a> |
                <a href="/">Epic Deals</a> |
                <a href="/">Best Seller</a> |
                <a href="/">Back to Hogwarts</a>
            </div>
            <div v-if="!userLoggedIn">
                <a href="/login.html">Sign In</a>
                |
                <a href="/signup.html">Sign Up</a>
            </div>
            <div v-else>
                Welcome, {{ userInfo.firstname }} {{ userInfo.lastname }} |
                <a href="/addListing.html">Add Listing</a> |
                <a href="/addAuction.html">New Auction</a> |
                <a href="/history.html">History</a> |
                <a href="/cart.html">Shopping Cart</a> |
                <a @click="userLogout">Logout</a>
            </div>
        </div>
    
        <div>
            <h3 class="sale-title title-font">Account</h3>
            <p class="title-font" style="text-align: center;margin: 0">We Secured this site By Magic</p>
        </div>
    
        <div>
            <div class="warning-box" id="warning-box" style="width: 365px;margin: 15px auto 0;"></div>
            <div class="muggle-form-block">
                <!-- Show User Information -->
                <div class="muggle-form" id="user-profile" v-if="displayForm === 0">
                    <div class="field">
                        <p style="margin: 0">First Name: {{ userInfo.firstname }}</p>
                    </div>
                    <div class="field">
                        <p style="margin: 0">Last Name: {{ userInfo.lastname }}</p>
                    </div>
                    <div class="field">
                        <p style="margin: 0">Email: {{ userInfo.email }}</p>
                    </div>
                    <div class="field">
                        <button type="button" @click="displayForm = 1">Edit Profile</button>
                    </div>
                    <div class="field">
                        <button type="button" @click="displayForm = 2">Change Password</button>
                    </div>
                </div>
                <!-- Edit User Information -->
                <form id="change-profile-form" class="muggle-form" v-if="displayForm === 1">
                    <div class="field">
                        <label for="firstname">First Name: </label>
                        <input type="text" id="firstname" name="firstname" v-model="userInfo.firstname">
                    </div>
                    <div class="field">
                        <label for="lastname">Last Name: </label>
                        <input type="text" id="lastname" name="lastname" v-model="userInfo.lastname">
                    </div>
                    <div class="field">
                        <label for="email">Email: </label>
                        <input type="text" id="email" name="email" v-model="userInfo.email">
                    </div>
                    <div class="field">
                        <button type="button" @click="displayForm = 0">Back</button>
                    </div>
                    <div class="field">
                        <button type="button" @click="updateProfile">Done</button>
                    </div>
                </form>
                <!-- Change User Password -->
                <form id="change-password-form" class="muggle-form" v-if="displayForm === 2">
                    <div class="field">
                        <label class="PasswordText" for="password">Password: </label>
                        <input type="password"
                               id="password"
                               name="password"
                               placeholder="Enter Password"
                               v-model="changePass.password"
                        >
                    </div>
                    <div class="field">
                        <label class="PasswordText" for="password" >Confirm Password: </label>
                        <input type="password"
                               id="confirmPassword"
                               name="confirmPassword"
                               placeholder="Confirm Password"
                               v-model="changePass.confirmPassword"
                        >
                    </div>
                    <div class="field">
                        <button type="button" @click="displayForm = 0">Back</button>
                    </div>
                    <div class="field">
                        <button type="button" @click="changePassword">Done</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<script src="home.js"></script>
<script src="common.js"></script>
<script src="vue.min.js"></script>
<script src="/controllers/user.js"></script>
<script>
var app = new Vue({
        el: '#app',
        data: {
            userLoggedIn: false,
            displayForm: 0,
            changePass: {},
            userInfo: {}
        },
        methods: {
            async changePassword() {
                if (!this.changePass.password || !this.changePass.confirmPassword ||
                    this.changePass.password !== this.changePass.confirmPassword) {
                    return displayError('New password does not match with the confirm password')
                }
                let formData = new FormData()
                formData.set('password', this.changePass.password)
                formData.set('confirmPassword', this.changePass.confirmPassword)

                let resp = await fetch('/api/user/changePassword', {
                    method: 'POST',
                    body: formData
                }).catch((error) => {
                    displayError('Failed to Update: ' + error.message)
                })
                let result = await resp.json()
                if (result && result.success) {
                    displayError(result.data)
                    let { userLoggedIn, userInfo } = await fetchUserInfo()
                    this.userLoggedIn = userLoggedIn
                    this.userInfo = userInfo

                    this.displayForm = 0
                    this.changePass = {}
                } else {
                    displayError(result.message)
                }
            },
            async updateProfile() {
                let formData = new FormData()
                if(this.userInfo.email) formData.set('email', this.userInfo.email)
                if(this.userInfo.firstname) formData.set('firstname', this.userInfo.firstname)
                if(this.userInfo.lastname) formData.set('lastname', this.userInfo.lastname)

                let resp = await fetch('/api/user/userUpdateInfo', {
                    method: 'POST',
                    body: formData
                }).catch((error) => {
                    displayError('Failed to Update: ' + error.message)
                })
                let result = await resp.json()
                if (result && result.success) {
                    displayError('Successfully updated')
                    let { userLoggedIn, userInfo } = await fetchUserInfo()
                    this.userLoggedIn = userLoggedIn
                    this.userInfo = userInfo
                    this.displayForm = 0
                } else {
                    displayError(result.message)
                }
            }
        },
        async mounted(){
            let { userLoggedIn, userInfo } = await fetchUserInfo()
            this.userLoggedIn = userLoggedIn
            this.userInfo = userInfo
        }
    });
</script>

<style>
    .navbar{
        padding: 0 100px;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>