html, body{
    background-color: #f3ece2;
}
.listings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0 10px ;
}
.listings > .items > a > div{
    width: 100%;
    text-align: center;
}
.listings > .items > a{
    width: 100%;
}
.listings > .items{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 200px;

    border: solid 2px #261c1d;
    margin: 10px;
}
.item-type{
    width: 100%;
    background: url(./images/flag-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-bottom: 10px;
    height: 1.7rem;
}
.item-type > h3 {
    margin: 0;
    color: #f3ece2;
    text-align: center;
    line-height: 1.7rem;
}
.web-header{
    text-align: center;
    margin: 15px 30px;
    width: auto;
    position: relative;
}
.web-header::before, .web-header::after{
    content: ' ';
    position: absolute;
    top: -8px;
    left: 0;
    background: url('./images/frame-corner.png');
    height: 100px;
    width: 100px;
}
.web-header::after {
    left: auto;
    right: 0;
    transform: scaleX(-1);
}
.web-header > h2{
    font-family: UnifrakturMaguntia, sans-serif;
    font-size: 40px;
    color: #211916;
}
.web-header > .upper, .web-header > .lower{
    height: 14px;
    background: url(./images/frame-line.png);
    background-size: contain;
    margin: 0 97px;
}
.web-header > .lower{
    margin: 0 50px;
}
.sale-title{
    font-size: 80px;
    text-align: center;
    margin: 0
}
p, span, h1, h2, h3, h4, h5, h6, input, label, div, button, a{
    font-family: "PT Serif", sans-serif;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a{
    color: #733624;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
a:hover{
    color: #b93800;
}

button.flag-button {
    width: 100%;
    height: 36px;
    font-family: "PT Serif", sans-serif;
    border: none;
    background: url(./images/flag-bg.png) no-repeat;
    background-position-x: center;
    background-size: contain;
    color: #f3ece2;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: 20px;
}
button.flag-button:hover {
    background: url(./images/flag-bg-hover.png) no-repeat;
    background-position-x: center;
    background-size: contain;
}

button.flag-button.disabled{
    cursor: not-allowed;
    background: url(./images/flag-bg.png) no-repeat;
    background-position-x: center;
    background-size: contain;
}

div.warning-box{
    font-size: 13px;
    background: #000;
    color: #f3ece2;
    padding: 8px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    display: none;
    margin-bottom: 15px;
}
.navbar{
    padding: 0 100px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button.text-button{
    box-shadow: none;
    border: none;
    background: transparent;
    color: #211916;
    padding: 0;

    font-size: 16px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
button.text-button:hover, button.text-button:active{
    color: #854b3e;
}
.item-description{
    font-stretch: normal;
    font-style: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 2.5rem;
    line-height: 1.3em;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}